.Content {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.Options {
    margin-left: 1rem;
    margin-right: 1rem;
    border: 2px solid var(--primary);
    border-radius: 32px;
    width: 50%;
}

.Config-output {
    margin-right: 1rem;
    width: 50%;
}